.page-content {
  margin-top: 20px;
}

.module-title {
  padding: 10px 0;
  border-bottom: 1px solid #333;
  margin-bottom: 16px;
}

.form-item-container {
  width: 80%;
  margin: 0 auto;
}

.btn-row {
  width: 80%;
  margin: 0 auto;
  text-align: right;
}

.form-item-container {
  width: 80%;
  margin: 0 auto;
}
